<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Create Route</title>
</head>
<body>
    <nav>
        <div class="logo"><a href="index.html"><img src="../static/img/party_bus-removebg-preview.png" width="80px" height="50px" alt=""></a></div>

        <div class="links">
            <a class="nav-link" href="create-route.html">Route</a>
            <a class="nav-link" href="create-bus.html">Bus</a>
            <a class="nav-link" href="driver.html">Driver</a>
            <a class="nav-link" href="index.html">Log Out</a>
        </div>
    </nav>


    <div class="container">
        <div class="menu">
            <button class="menu-btn create-btn">Create Route</button>
            <button class="menu-btn schedule-btn">Schedule Route</button>
            <button class="menu-btn scheduled-btn">Scheduled Routes</button>
        </div>
        <div class="form-container create">
            <h2 class="form-title">Create Route </h2>
            <form action="" class="login-form">
                <label for="from">From</label>
                <input type="text" name="from" id="from">

                <label for="destination">To</label>
                <input type="text" name="destination" id="destination">
                
                </form>
            <button type="submit" class="signup">Create Route</button>
        </div>

        <div class="form-container schedule show">
            <h2 class="form-title">Schedule Route</h2>
            <form action="" class="login-form">
                <label for="from">Route ID</label>
                <input type="text" name="from" id="from">

                <label for="time">Departure Time</label>
                <input type="time" name="time" id="time">
                
                </form>
            <button type="submit" class="signup">Schedule Route</button>
        </div>
        <div class="scheduled show">
            <div class="scheduled-route-container">
                <div class="scheduled-route">
                    <div class="values">Kality</div>
                    <div class="middle labels">To</div>
                    <div class="values">Bole</div>
                    <div class="label-value-pair">
                        <div class="labels">Bus No:</div>
                        <div class="no">32</div>
                    </div>                    
                    <div class="label-value-pair">
                        <div class="labels">Departure At:</div>
                        <div class="no">21:00</div>
                    </div>
                </div>
            </div>
            <div class="scheduled-route-container">
                <div class="scheduled-route">
                    <div class="values">Kality</div>
                    <div class="middle labels">To</div>
                    <div class="values">Bole</div>
                    <div class="label-value-pair">
                        <div class="labels">Bus No:</div>
                        <div class="no">32</div>
                    </div>                    
                    <div class="label-value-pair">
                        <div class="labels">Departure At:</div>
                        <div class="no">21:00</div>
                    </div>
                </div>
            </div>
            <div class="scheduled-route-container">
                <div class="scheduled-route">
                    <div class="values">Kality</div>
                    <div class="middle labels">To</div>
                    <div class="values">Bole</div>
                    <div class="label-value-pair">
                        <div class="labels">Bus No:</div>
                        <div class="no">32</div>
                    </div>                    
                    <div class="label-value-pair">
                        <div class="labels">Departure At:</div>
                        <div class="no">21:00</div>
                    </div>
                </div>
            </div>
            <div class="scheduled-route-container">
                <div class="scheduled-route">
                    <div class="values">Kality</div>
                    <div class="middle labels">To</div>
                    <div class="values">Bole</div>
                    <div class="label-value-pair">
                        <div class="labels">Bus No:</div>
                        <div class="no">32</div>
                    </div>                    
                    <div class="label-value-pair">
                        <div class="labels">Departure At:</div>
                        <div class="no">21:00</div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

    <footer>
        <div class="left card">
            <img src="../static/img/logo-removebg-preview.png" width="80px" height="80px" alt="">
            <p>Sheger Autobus</p>
        </div>
        <div class="rightOne">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightTwo">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightThree">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
    </footer>
    <!-- <div class="copy">
        <div>Sheger Autobus &copy; 2023</div>
    </div> -->
    <script src="/../static/js/main.js"></script>
</body>
</html>