<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sheger Autobus</title>
</head>
<body>
    <nav>
        <div class="logo"><a href="index.html"><img src="../static/img/party_bus-removebg-preview.png" width="80px" height="50px" alt=""></a></div>

        <div class="links">
            <a class="nav-link" href="about.html">About Us</a>
            <a class="nav-link" href="login.html">Login</a>
            <a class="nav-link" href="signup.html">Sign Up</a>
        </div>
    </nav>


    <div class="container">
        <div class="showcase">
            <img src="../static/img/party_bus.jpg" class="showcase-logo" alt="">
            <h1>Sheger Autobus</h1>
            <h3>Riding a plane!</h3>
        </div>
    </div>
    <section class="cards">
        <div class="card">
            <img src="../static/img/happy-removebg-preview.png" width="100px" height="85px" alt="">
            <h3>14 million</h3>
            <p>Happy customers</p>
        </div>
        <div class="card">
            <img src="../static/img/logo-removebg-preview.png" width="100px" height="100px" alt="">
            <h3>Morethan 100, 000</h3>
            <p>Plane Like Buses</p>
        </div>
        <div class="card">
            <img src="../static/img/award-removebg-preview.png" width="120px" height="100px" alt="">
            <h3>Winner</h3>
            <p>of all nominated prizes</p>
        </div>
        <div class="card">
            <img src="../static/img/faq-removebg-preview.png" width="100px" height="90px" alt="">
            <h3>Questions?</h3>
            <p>Visit Our Help Center</p>
        </div>
    </section>
    <footer>
        <div class="left card">
            <img src="../static/img/logo-removebg-preview.png" width="80px" height="80px" alt="">
            <p>Sheger Autobus</p>
        </div>
        <div class="rightOne">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightTwo">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightThree">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
    </footer>
    <!-- <div class="copy">
        <div>Sheger Autobus &copy; 2023</div>
    </div> -->
</body>
</html>