<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sheger Autobus</title>
</head>
<body>
    <nav>
        <div class="logo"><img src="img/logo-removebg-preview.png" width="70px" height="70px" alt=""></div>

        <div class="links">
            <a class="nav-link" href="about.html">About Us</a>
            <a class="nav-link" href="login.html">Login</a>
            <a class="nav-link" href="signup.html">Sign Up</a>
        </div>
    </nav>


    <div class="container">
        <div class="showcase">
            <h1>Sheger Autobus</h1>

        </div>
    </div>
    <footer>
        <div class="left">
            <img src="img/logo-removebg-preview.png" width="70px" height="70px" alt="">
            <p>Sheger Autobus</p>
        </div>
        <div class="rightOne">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightTwo">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightThree">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
    </footer>
    <!-- <div class="copy">
        <div>Sheger Autobus &copy; 2023</div>
    </div> -->
</body>
</html>