<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Routes</title>
</head>
<body>
    <nav>
        <div class="logo"><a href="index.html"><img src="../static/img/party_bus-removebg-preview.png" width="80px" height="50px" alt=""></a></div>

        <div class="links">
            <a class="nav-link" href="route.html">Routes</a>
            <a class="nav-link" href="reserved.html">Reserved</a>
            <a class="nav-link" href="index.html">Log Out</a>
        </div>
    </nav>


    <div class="reserved-container">
        <h1 class="reserved-h1">Reserved Tickets</h1>
        <div class="reserved-showcase">
            <div class="ticket">
                <div class="values">Kality</div>
                <div class="middle labels">To</div>
                <div class="values">Bole</div>
                <div class="label-value-pair">
                    <div class="labels">Seat:</div>
                    <div class="no">21</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Bus Number:</div>
                    <div class="no">32</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Departure At:</div>
                    <div class="no">21:00</div>
                </div>
                <button class="danger">Cancel</button>
            </div>
            <div class="ticket">
                <div class="values">Kality</div>
                <div class="middle labels">To</div>
                <div class="values">Bole</div>
                <div class="label-value-pair">
                    <div class="labels">Seat:</div>
                    <div class="no">21</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Bus Number:</div>
                    <div class="no">32</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Departure At:</div>
                    <div class="no">21:00</div>
                </div>
                <button class="danger">Cancel</button>
            </div>
            <div class="ticket">
                <div class="values">Kality</div>
                <div class="middle labels">To</div>
                <div class="values">Bole</div>
                <div class="label-value-pair">
                    <div class="labels">Seat:</div>
                    <div class="no">21</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Bus Number:</div>
                    <div class="no">32</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Departure At:</div>
                    <div class="no">21:00</div>
                </div>
                <button class="danger">Cancel</button>
            </div>
            <div class="ticket">
                <div class="values">Kality</div>
                <div class="middle labels">To</div>
                <div class="values">Bole</div>
                <div class="label-value-pair">
                    <div class="labels">Seat:</div>
                    <div class="no">21</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Bus Number:</div>
                    <div class="no">32</div>
                </div>
                <div class="label-value-pair">
                    <div class="labels">Departure At:</div>
                    <div class="no">21:00</div>
                </div>
                <button class="danger">Cancel</button>
            </div>
            
        </div>
    </div>

    <footer>
        <div class="left card">
            <img src="../static/img/logo-removebg-preview.png" width="80px" height="80px" alt="">
            <p>Sheger Autobus</p>
        </div>
        <div class="rightOne">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightTwo">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightThree">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
    </footer>
    <!-- <div class="copy">
        <div>Sheger Autobus &copy; 2023</div>
    </div> -->
</body>
</html>