<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sign Up</title>
</head>
<body>
    <nav>
        <div class="logo"><a href="index.html"><img src="../static/img/party_bus-removebg-preview.png" width="80px" height="50px" alt=""></a></div>

        <div class="links">
            <a class="nav-link" href="about.html">About Us</a>
            <a class="nav-link" href="login.html">Login</a>
            <a class="nav-link" href="signup.html">Sign Up</a>
        </div>
    </nav>

    <div class="container">
        <div class="signup-container">
            <h2 class="signup-title">Create Account</h2>
            <form action="" class="login-form">
                <label for="username">First Name</label>
                <input type="text" name="username" id="username">

                <label for="username">Middle Name</label>
                <input type="text" name="username" id="username">

                <label for="username">Last Name</label>
                <input type="text" name="username" id="username">

                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob">

                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <label for="password">Confirm Password</label>
                <input type="password" name="password" id="password">
            </form>
            <button type="submit" class="signup">Sign Up</button>
        </div>
    </div>
   
    <footer>
        <div class="left card">
            <img src="../static/img/logo-removebg-preview.png" width="80px" height="80px" alt="">
            <p>Sheger Autobus</p>
        </div>
        <div class="rightOne">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightTwo">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
        <div class="rightThree">
            <a class="footer-link" href="#">About Us</a>
            <a class="footer-link" href="#">Vision</a>
            <a class="footer-link" href="#">Our Story</a>
            <a class="footer-link" href="#">Contact Us</a>
        </div>
    </footer>
    <!-- <div class="copy">
        <div>Sheger Autobus &copy; 2023</div>
    </div> -->
</body>
</html>