* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #180318;
    font-family: Arial, Helvetica, sans-serif ;
}
nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50rem;
    background-color: #f8f6f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0;
}

nav .logo {
    margin: 0 1rem;
}

.links {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 2rem;
    font-size: 1.3rem;
}

.nav-link {
    text-decoration: none;
    color: #c506eb;
    
}
.nav-link:hover {
    color: #62d4e8;
}

.nav-link:active {
    color: #6264e8;
}

.container  {
    margin: 2rem;
    height: 80vh;
}

.showcase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.showcase-logo {
    align-items: center;
    justify-self: center;
}

.showcase h1 {
    font-family: cursive;
}

.showcase h3 {
    color: #333;
    text-align: center;
    font-family:monospace ;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}

.card {
    /* border-right: 2px solid #6264e8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #f8f6f3;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.left {
    display: flex;
    flex-direction: column;
}
.rightOne {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.rightTwo {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.rightThree {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-link {
    text-decoration: none;
    color: #170f07;
    
}
.footer-link:hover {
    color: #be8043;
}

.copy {
    margin: 0 auto;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}